# Created by https://www.gitignore.io

#################
##      C
#################

# Object files
#*.o
#*.ko
#*.obj
#*.elf

# Precompiled Headers
#*.gch
#*.pch

# Libraries
#*.lib
#*.a
#*.la
#*.lo

# Shared objects (inc. Windows DLLs)
#*.dll
#*.so
#*.so.*
#*.dylib

# Executables
#*.exe
#*.out
#*.app
#*.i*86
#*.x86_64
#*.hex

############
## CLION
############

.idea

#################
## Code::Blocks
#################
*.cbp
*.depend
*.layout
obj/
nulstart

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## NETBEANS
############

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/


############
## CMAKE
############

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt


############
## OSX
############

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

############
## LINUX
############

*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

############
## COSTOM
############

##Include data in bin , damit jeder die daten an der gleichen stelle von der executable aus hat
bin/*
!bin/data/